.register-page {
    min-height: 100vh;
    background: black;
    padding: 120px 20px 40px;
    text-align: center;
}

.register-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #00fff7;
    text-shadow:
        0 0 10px rgba(0, 255, 247, 0.7),
        0 0 25px rgba(0, 255, 247, 0.4);;
}

.register-form {
    width: 100%;
    max-width: 900px;
    height: 85vh;

    border-radius: 18px;
    background: black;

    box-shadow:
        0 0 25px rgba(0, 255, 247, 0.25);
}