.coming-soon-page {
    width: 100vw;
    height: 100vh;
    background: black;

    margin-top: -60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.coming-soon-page img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
